{% extends 'base.html.twig' %}

{% block main %}
<div class="container">
    {# Header #}
    <div class="row">
        <div class="col-md-12">
            <div class="media">
                <div class="media-left">
                    <img src="{{ asset('bundles/app/images/logo.jpg') }}" alt="Lo Cabàs image logo" />
                </div>
                <div class="media-body">
                    <h1 class="no-m-top">LO CABÀS</h1>
                    <h3 class="no-m-bottom">Col·lectiu de Consum Responsable</h3>
                    <p class="lead">Amposta</p>
                </div>
            </div>
        </div>
    </div>
    {# Body #}
    {# Footer #}
    <div class="row">
        <div class="col-md-12">
            <div class="btn-group" role="group">
                <a class="btn btn-success" href="http://app.locabas.org" target="_blank"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>&nbsp;Gestió de comandes</a>
                <a class="btn btn-success" href="http://plataforma.locabas.org" target="_blank"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;Accedeix a la plataforma</a>
                <a class="btn btn-success" href="mailto:info@locabas.org"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>&nbsp;Contacta amb nosaltres</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
