{% extends 'base.html.twig' %}

{% block main %}
<div class="container">
    {# Header #}
    <div class="row">
        <div class="col-md-12">
            <div class="media">
                <div class="media-left">
                    <img src="{{ asset('bundles/app/images/logo.jpg') }}" alt="Lo Cabàs image logo" />
                </div>
                <div class="media-body">
                    <h1 class="no-m-top text-success">LO CABÀS</h1>
                    <h3 class="no-m-bottom text-muted">Col·lectiu de Consum Responsable</h3>
                    <p class="lead text-muted">Amposta</p>
                </div>
            </div>
        </div>
    </div>
    {# Main content #}
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-success">Xerrada presentació del col·lectiu</h2>
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h2 class="panel-title">Lloc i data</h2>
                </div>
                <div class="panel-body">
                    <span class="glyphicon glyphicon-map-marker"></span> La Collidora. Amposta<br/>
                    <span class="glyphicon glyphicon-calendar"></span> 24 d'abril de 2015, a les 19:30h
                </div>
            </div>
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h2 class="panel-title">Temes a tractar</h2>
                </div>
                <div class="panel-body">
                    <ul class="no-m-bottom">
                        <li>Presentació oficial del grup de consum responsable i transformador Lo Cabàs</li>
                        <li>Què és un grup de consum?</li>
                        <li>Què significa "responsable" per a nosaltres?</li>
                        <li>Què significa "transformador" per al grup?</li>
                        <li>Drets i deures del membres</li>
                        <li>Objectius del grup</li>
                        <li>Fins on hem arribat</li>
                        <li>Següents passos</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
