{% extends 'base.html.twig' %}

{% block body %}
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                <div class="inner cover">
                    <img src="{{ asset('bundles/app/images/logo.jpg') }}" alt="Lo Cabàs logo" />
                    <h1>Lo Cabàs | Col·lectiu de Consum Responsable</h1>
                    <p class="lead">
                        43870 Amposta<br>
                        (Tarragona)<br><br>
                        <a href="mailto:info@locabas.org">info@locabas.org</a>
                    </p>
                </div>
                <div class="mastfoot">
                    <div class="inner">
                        <p>website hosted by <a href="http://www.flux.cat">www.flux.cat</a></p>
                        <p>&copy; {{ 'now' | date('Y') }} · all rights reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
