{% extends 'base.html.twig' %}

{% block body %}
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                <div class="inner cover">
                    <img class="img-responsive center-block" src="{{ asset('bundles/app/images/logo.jpg') }}" alt="Lo Cabàs logo" />
                    <h1>LO CABÀS</h1>
                    <h3 style="margin: 0 0 80px 0">Col·lectiu de Consum Responsable</h3>
                    <p style="margin-bottom:10px" class="lead">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;<a href="http://plataforma.locabas.org" target="_blank">accés a la plataforma</a><br/>
                        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>&nbsp;<a href="mailto:info@locabas.org">info@locabas.org</a>
                    </p>
                    <p>43870 Amposta (Tarragona)</p>
                </div>
                <div class="mastfoot">
                    <div class="inner">
                        <p>website hosted by <a href="http://www.flux.cat">www.flux.cat</a></p>
                        {#<p>&copy; {{ 'now' | date('Y') }} · all rights reserved</p>#}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
