{% extends 'base.html.twig' %}

{% block body %}
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                <div class="inner cover">
                    <img class="img-responsive" src="{{ asset('bundles/app/images/logo.jpg') }}" alt="Lo Cabàs logo" />
                    <h1>Lo Cabàs</h1>
                    <h3>Col·lectiu de Consum Responsable</h3>
                    <p class="lead">
                        <a href="mailto:info@locabas.org">info@locabas.org</a><br><br><br><br>
                        43870 Amposta (Tarragona)
                    </p>
                </div>
                <div class="mastfoot">
                    <div class="inner">
                        <p>website hosted by <a href="http://www.flux.cat">www.flux.cat</a></p>
                        {#<p>&copy; {{ 'now' | date('Y') }} · all rights reserved</p>#}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
